{% extends "Appclub/padre.html" %}
{% load static %}

{% block titulo%}

<h1 class="display-5 fw-bold">BUSCAR DISCIPLINA</h1>
{% endblock%}
{%block descripcion%}
<p class="fs-4">Ingresar nombre de disciplina para buscar</p>
{% endblock%}

{% block cuerpo_de_pagina %}
    <form action="{% url 'buscarDisciplina' %}" method="GET"> 
        <h2>Ingresar nombre de disciplina para buscar</h2>
        <br>
        <input type="text" name="nombre" id="nombre">
        <input type="submit" value="Buscar">
        <br>
        <br>
        <br>
    </form>


{% endblock %}