{% extends "Appclub/padre.html" %}
{% load static %}

{% block titulo%}

<h1 class="display-5 fw-bold">INICIO</h1>
{% endblock%}
{%block descripcion%}
<p class="fs-4">Desde acá vas a poder cargar o buscar lo que necesites</p>
{% endblock%}

{% block cuerpo_de_pagina %}

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <!-- carga Socio-->
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'socio' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Agregar Socio</h2>
                            <p class="mb-0">Ingresar para cargar un nuevo socio</p>
                        </div>
                    </div>
                </a>
            </div>          
            <!-- carga profesor -->
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'profe' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Agregar Profesor</h2>
                            <p class="mb-0">Ingresar para cargar un nuevo profesor</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- carga disciplina-->
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'disciplina' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Agregar Disciplina</h2>
                            <p class="mb-0">Ingresar para cargar una nueva disciplina</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'buscaSocio' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">Buscar Socio</h2>
                            <p class="mb-0">Ingresar para buscar en socios</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'buscaProfe' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">buscar Profesor</h2>
                            <p class="mb-0">Ingresar para buscar en profesores</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="{% url 'buscaDisciplina' %}">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">Buscar Disciplina</h2>
                            <p class="mb-0">Ingresar para buscar en disciplinas</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}