{% extends "Appclub/padre.html" %}
{% load static %}

{% block titulo%}

<h1 class="display-5 fw-bold">RESULTADO DE LA BUSQUEDA</h1>
{% endblock%}

{% block cuerpo_de_pagina %}

{% if nombres %}

<h2>Resultado de la busqueda</h2>
<ul>
    {% for disciplina in nombres %}
        <li>{{disciplina.nombre}}</li>
        <li>{{disciplina.categoria}}</li>
        <br>
    {% endfor %}
</ul>
{%else%}
<p>NO HAY RESULTADOS EN LA BUSQUEDA</p>
{%endif%}
<br>
<br>
<a class="btn btn-primary btn-lg" href="{% url 'inicio' %}">Volver a inicio</a>
<a class="btn btn-primary btn-lg" href="{% url 'buscarSocio' %}">Buscar nuevo socio</a>
<a class="btn btn-primary btn-lg" href="{% url 'buscaDisciplina' %}">Buscar nueva disciplina</a>
<a class="btn btn-primary btn-lg" href="{% url 'buscaProfe' %}">Buscar nuevo profesor</a>


{% endblock %}